:root{
    --font-size-bold:2rem;
    --font-size-medium:1.5rem;
    --font-size-small:1.2rem;
}

*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}


.main-container{

    height: 100vh;
    margin: 3px;
    padding: 10px;
   

}

.main-header{
    text-align: center;
    text-shadow: 1px 2px 3px grey;
    background-repeat: cover;
  
}

.sub-heading{
    text-align: center;
    padding: 30px;
    font-size: var(--font-size-bold);
   
}

.trip-info{
    text-align: center;
    padding: 30px;
    font-size: var(--font-size-medium);
    
   
}

.info{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
   background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWA1hZuEeqojpBZI21nQiCxnuy_YRbBYmPBg&usqp=CAU);
   background-repeat: no-repeat;
   background-size: cover;
    
   
}

.maininfo{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSj27L1EC5Ye1ZeIxR04IcqnfnTTlC8adj65JjR3bYUrjxw4w1Yrkwv5t7k-sr39pAQwz4&usqp=CAU);
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
}


/* trip info  */

.trip-fees{
    width: 300px;
    height: 200px;
    text-align: center;
    margin-top: 50px;
    
    font-size: var(--font-size-small);
   
    
}

.trip-travel{
    width: 300px;
    height: 200px;
    font-size: var(--font-size-small);
   
   

}


/* places  */
.places-gallery img{
    width: 65%;
}

.flex{
    display: flex;
    align-items: center;
    padding: 3px;
    margin: 20px;
    gap: 20px;
    

}

.place1{
    border: 1px solid black;
}
.place2{
    border: 1px solid black;
}
.place3{
    border: 1px solid black;
}

a input[type=button]{
    height: 30px;
    width: 50px;
    border-radius: 3px;
    color: aliceblue;
    background-color: rgba(45, 45, 112, 0.966);
    transition: 0.1s ease-in-out;
}

a input[type=button]:hover{
    background-color: rgb(10, 90, 122);
}